a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display: block}body{line-height: 1; font-family: "Open Sans", arial, sans-serif}ol,ul{list-style: none}blockquote,q{quotes: none}blockquote:after,blockquote:before,q:after,q:before{content: ''; content: none}table{border-collapse: collapse; border-spacing: 0}.container{margin: 0 auto; max-width: 1200px}.parallax-container{background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover}.container .left-container{width: calc(100% - 430px); margin-right: 80px; float: left;}.container .right-container{width: 350px; float: left;}.parallax3 .container{overflow: hidden;}.container .unit-top{text-align: center; margin-bottom: 40px;}.container h1{font-size: 28px; font-weight: 700; text-transform: uppercase; padding: 20px 0}p{font-size: 18px; line-height: 30px; color: #000}.parallax1{background-image: url(../img/ship3.jpg); height: 430px; background-position: 0 -400px}.content1{background: rgba(255, 255, 255, .6); padding: 35px 0 55px}.parallax2{background-image: url(../img/ship2.jpg); height: 520px}.content2{background: rgba(0, 0, 0, .7); padding: 110px 0}.content3,.content4{padding: 80px 0}.content2 p,.content4 p{color: #fff}.parallax3{background-image: url(../img/ship4.jpg); /*height:370px*/}.content3{background: rgba(255, 255, 255, .85)}.parallax4{background-image: url(../img/ship5.jpg); height: 520px}.scrolltop{position: fixed; width: 60px; height: 60px; right: 20px; bottom: 20px; background: url(../img/icon.png); cursor: pointer; display: none}.bottom-ad{width: 1200px; height: 90px; background: #ccc; margin: 0 auto; display: none;}
header{background: #000;padding: 10px 0;width: 100%;}
.article-container{max-width: 1240px;margin: 0 auto;}
.logo a{background: url("../img/forbes-logo-new.png") no-repeat;width: 146px;height: 36px;display: block;margin-left: 20px;}
h2 {font-size: 42px;font-family: 'Georgia', Arial;padding: 15px 0;}
 .post-img{width: 24px;height: 24px;border-radius: 12px;display: inline-block;position: relative;top: 5px;}
img{max-width: 100%;}
.post-img img{border-radius: 12px;}
.post-author{color: #000;font-size: 15px;font-family: Helvetica;font-weight: bold;display: inline-block;padding: 0 8px;border-right: 1px solid #ccc;}
.datePosted {color: #666666;font-size: 11px;font-family: verdana;display: none;margin-top: 1px;display: inline-block;padding-right: 8px;padding-left: 2px;}
.postcategory {display: inline-block;color: #FFF;font-size: 11px;background: #b3b3b3;font-family: helvetica;padding: 5px 5px 3px 5px;line-height: 12px;
    margin-top: 6px;text-transform: uppercase;}
.ad-slot1{ margin-top: 20px; text-align: center;}
.article-page .article-container{border-top: 5px solid #efefef;padding-top: 18px;margin-top: 18px;}
.left-content{width: 72.5%;float: left;margin-right: 3.5%;}
.ad-slot2{position: absolute;width: 728px;height: 90px;background: #ccc;bottom: 0;left: 50%;margin-left: -364px;}
.article-img{width: 100%;position: relative;}
.article-para p{font-size: 20px;line-height: 30px;color: #000;font-family: 'Georgia', Arial;margin-top: 20px;}
.pagination{background: url("../img/pagination.jpg");width: 426px;height: 110px;margin: 30px auto 40px;}
.kw-block1{width: 100%;background: #ccc; height: 240px;margin-bottom: 40px;}
.right-content{float: right;width: 24%;}
#detectFrame{position: absolute;}
.ad-slot3{max-width: 100%; background: #ccc;margin-bottom: 15px;}
.kw-block2{width: 100%;background: #ccc;margin-bottom: 15px;}
.ad-slot4{width: 100%;background: #ccc;}
footer{background: #ebebeb;padding: 20px 0;clear: both;overflow: hidden;}
footer .article-container{width: 1070px;position: relative;left: -80px;}
footer ul.top-footer{padding: 5px 0 25px;border-bottom: 3px solid #000;}
footer li{display: inline-block;margin-right: 30px;}
footer li a {font-family: Arial;font-size: 14px;font-weight: 600;color: #000;text-transform: capitalize;text-decoration: none;}
.footer-menu-content{width: 60%;float: left;}
.footer-menu{width: 29.5%;margin-right: 3%;float: left;}
.publication-wrapper {float: right;width: 32%;padding: 20px 0 0;}
footer h5, footer h5 a{font-size: 21px;color: #000;font-family: 'Georgia', arial;padding: 20px 0;text-decoration: none;}
.footer-menu ul li a {font-size: 13px;padding-bottom: 8px;color: #000;display: block;font-family: 'Georgia', Arial;font-weight: normal;line-height: 16px;}
.footer-logo { position: relative; top: 12px;}
.copyright{clear: left;}
.copyright span {float: left;color: #000;font-size: 10px;margin: 40px 0 10px 0;font-family: Arial;}
.copyright ul {float: right;overflow: hidden;margin:  40px 0 10px 0;}
.copyright ul li {float: left;margin-right: 9px;border-right: 1px solid #b8b8b8;font-size: 9px;line-height: 11px;}
.copyright ul li:last-child{border-right: none;}
.copyright ul li a {color: #000;font-size: 10px;padding-right: 9px;font-family: Arial;font-weight: normal;}
footer .publications li{margin-right: 10px;}
.publication-links {border-bottom: 1px solid #575757;padding-bottom: 25px;}
.publication-links li {float: left;border-right: 1px solid #575757;font-size: 12px;margin-right: 12px;margin-top: 4px;}
.publication-links li:last-child{border-right: none;}
.publication-links li a {font-size: 12px;color: #c41a23;font-family:;padding-right: 7px;display: inline-block;padding-bottom: 0; font-weight: normal;}
.forbes-countries ul{width: 30%;float: left;margin-right: 10px;margin-top: 10px;}
footer .forbes-countries li{margin: 0;padding: 5px 0;}
.forbes-countries li a {font-family: Arial;font-size: 12px;font-weight: normal;}
@media only screen and (max-width:1500px){.parallax1{height: 260px}}@media only screen and (max-width:1310px){.container{margin: 0 20px}.parallax2, .parallax3, .parallax4{height: auto}.content2, .content3, .content4{padding: 80px 0}}@media only screen and (max-width:768px){p{font-size: 15px; line-height: 25px}.content2, .content3, .content4{padding: 40px 0}.container h1{font-size: 22px}.content1{padding: 10px 0 28px}.parallax1{background-position: -120px -400px}.container .left-container{width: auto; margin-right: 0; float: none; margin-bottom: 40px;}.container .right-container{width: auto; text-align: center; float: none;}}